@inherits LayoutComponentBase

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4">
        <a href="https://t.me/maxrev/" target="_blank">Me</a>
    </div>

    <div class="container px-4">
        @Body
    </div>
</div>
