@page "/"
@inject NavigationManager NavigationManager

<h1>Hold on. Project is loading...</h1>
  

@code
{
    protected override void OnAfterRender(bool firstRender)
    {
        NavigationManager.NavigateTo("/operations");
    }
}
